body {
	margin: 0;
	font-family: system-ui;
	background-color: rgb(120,180,70);
	
}

h1 {
	 background-image: url("pic/20210606_100404_001 (2).jpg");
	 color:white;
	 font-family:tahoma;
	 font-size:70px;
	 text-align:center
	 
}

h2 {
	color:rgba(120,40,90,40);
	font-family: Franklin Gothic Medium;
}

a:link {
	color: darkblue;
	background-color: none;
	text-decoration: none;
	
}
a:visited {
	color: white;
	background-color: none;
	text-decoration: none;
}
a:hover {
	color: darkblue;
	background-color: none;
	text-decoration: underline;
	font-size: 20px;
	padding: 3px 7px;
	
}

.bigSizeLanPic {
			width: 700px;
			height: 500px;
}