body {
	margin: 0;
	font-family: system-ui;
	background-color: rgb(120,180,70);
}

h1 {
	 background-image: url("pic/20210606_100404_001 (2).jpg");
	 background-attachment: fixed;
	 color:white;
	 font-family: tahoma, monospace;
	 font-size:70px;
	 text-align:center
}

h2 {
	color:rgba(120,40,90,40);
	font-family: Franklin Gothic Medium, serif;
}

.picLanCenter {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

a:link {
	color: darkblue;
	background-color: transparent;
	text-decoration: none;
	
}
a:visited {
	color: white;
	background-color: transparent;
	text-decoration: none;
}
a:hover {
	color: darkblue;
	background-color: transparent;
	text-decoration: underline;
	font-size: 20px;
	padding: 3px 7px;
	
}

table{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-collapse: separate;
	border-radius: 10px;
}

tr, td {
	border: 1px dotted white;
	border-radius: 10px;
}

th {
	border: 2px dotted darkblue;
	border-radius: 10px;
}

th:hover {
	text-transform: uppercase;
	transform: scale(150%) skew(30deg, 20deg);
	transition-duration: revert;
}

td {
	text-align: right;
}


.bigSizeLanPic {
			width: 700px;
			height: 500px;
}

.imgHoverSizeUp120:Hover {
	transform: scale(120%);
}

.imgHoverSizeUp500:hover {
	transform: scale(500%);

}

.alignLeft {
	float: left;
}

.alignRight {
	float: right;
}
